.icon-style {
  margin-top: 0.42rem;
}

.icon-dropdown-style {
  margin-top: -0.2rem !important;
  margin-right: 0.5rem !important;
}
.nav-style {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.hide-content {
  display: block !important;
}

.brand-style {
  margin-top: 0.4rem !important;
  margin-right: 11rem !important;
  position: "absolute" !important;
}

.icons-style {
  margin-left: 0rem !important;
}

.dropdown-toggle::after {
  display: none !important;
  content: none !important;
}

/* Large devices (computers, 768px and up) */
@media (min-width: 992px) and (max-width: 1400px) {
  .brand-style {
    margin-top: 0rem !important;
    position: "absolute" !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .brand-style {
    margin-top: 0rem !important;
    position: "absolute" !important;
  }
  .hide-content {
    display: none !important;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .brand-style {
    margin-top: 0rem !important;
    position: "absolute" !important;
  }
  .hide-content {
    display: none !important;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .brand-style {
    margin-top: 0rem !important;
    position: "absolute" !important;
  }
  .hide-content {
    display: none !important;
  }
}
