.icon-style {
  margin-top: 0.42rem;
}

.nav-style {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.hide-element {
  display: block !important;
}

.brand-style {
  margin-left: 10rem !important;
  margin-top: 0.4rem !important;
  margin-right: 11rem !important;
  position: "absolute" !important;
}

/* Large devices (computers, 768px and up) */
@media (min-width: 992px) and (max-width: 1400px) {
  .brand-style {
    margin-left: 0 !important;
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    position: "absolute" !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .brand-style {
    margin-left: 0 !important;
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    position: "absolute" !important;
  }
  .hide-element {
    display: none !important;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .brand-style {
    margin-left: 0 !important;
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    position: "absolute" !important;
  }
  .hide-element {
    display: none !important;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .brand-style {
    margin-left: 0 !important;
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    position: "absolute" !important;
  }
  .hide-element {
    display: none !important;
  }
}
