.form-control {
  background-color: #fafafa !important;
  border-radius: 0px;
  margin-bottom: 0.3rem;
}

input::-webkit-input-placeholder {
  font-size: 80%;
  line-height: 3;
}

.login-form-style {
  margin-top: 13.4% !important;
  background-color: #ffffff !important;
  border: 1px solid #dbdbdb !important;
}

.login-form-bottom-style {
  margin-top: 0.9% !important;
  background-color: #ffffff !important;
  border: 1px solid #dbdbdb !important;
}

/* Large devices (computers, 768px and up) */
@media (min-width: 992px) and (max-width: 1400px) {
  .content-style {
    margin-left: 0rem !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .content-style {
    margin-left: 0rem !important;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .content-style {
    margin-left: 0rem !important;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .content-style {
    margin-left: 0rem !important;
  }
}
